@charset "utf-8";
/* CSS Document */
* {
  margin :0px;
  padding: 0px;
}
  #wrapper {
    width: 100%;
    background-color: rgb(134, 176, 226);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  }
@media screen and (min-width:480px) {
  /*header*/
  #gheader {
    background-color: #FFFFFF;
    font-size: 140%;
    font-weight: bold;
    overflow: hidden;
  }
  #logo {
    display: inline-block;
    width: 210px;
    padding: 20px 0 10px 30px;
  }
  img {
    vertical-align: bottom;
    max-width: 100%;
  }
  .header_title {
    text-align: center;
    padding: 10px 20px 40px 20px;
  }
  .inner {
    margin-left: 25px;
    width: 70%;
    margin: 0 auto;
  }
  /*main*/
  .list_item {
    margin: 0 15% 0 15%;
  }
  .title {
    padding: 30px 0 10px 0;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
  }
  .title_box {
  }
  .box_item {
    margin: 30px 0 30px 0;
  }
  .clear {
    clear:both;
  }
  /*ボタン*/
  .button_box {
    text-align:center;
    padding: 30px 0 30px 0;
  }
  /*top画面*/
  .top_item {
    text-align: right;
    margin: 20px 50px 20px 0;
  }
  .top_heading {
    margin: 2.0rem 2.0rem 2.0rem 2.5rem;
    font-size: 140%;
    font-weight: bold;
  }
  .top_list_content {
    padding: 20px 20px 20px 100px;
  }
  .top_link_content {
    margin-left: 50px;
  }
  .top_box {
    background-color: #FFFFFF;
    width: 70%;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    margin-top: 30px;
  }
  .start_button {
    position: relative;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-align:center;
    color: #FFF;
    background: #526ffa;
    border-bottom: solid 2px #3657f7;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 120%;
  }
  .start_button:active {
    border-bottom: solid 2px #526ffa;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .start_button:focus {
    outline: 2px #7cb7f7 solid;
  }
  /*質問画面*/
  .question_heasding {
    margin: 30px;
    font-size: 140%;
    font-weight: bold;
  }
  .question_list_content {
    margin: 20px 50px 20px 50px;
  }
  .question_box {
    background-color: #FFFFFF;
    width: 70%;
    padding: 10px 0 10px 0;
    margin: auto;
    margin-top: 30px;
  }
  .yes_button {
    width: 95px;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    padding: 0.50em 0.5em;
    text-decoration: none;
    text-align:center;
    color: #FFF;
    background: #526ffa;
    border-bottom: solid 2px #3657f7;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 110%;
  }
  .yes_button:active {
    border-bottom: solid 2px #526ffa;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .yes_button:focus {
    outline: 2px #7cb7f7 solid;
  }
  .no_button {
    width: 95px;
    position: relative;
    display: inline-block;
    padding: 0.50em 0.5em;
    text-decoration: none;
    text-align:center;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 110%;
  }
  .no_button:active {
    border-bottom: solid 2px ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .no_button:focus {
    outline: 2px #7cb7f7 solid;
  }
  /*結果画面*/
  table {
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table tr {
    border-bottom: solid 1px #4a4a4a;
  }
  table th {
    text-align: left;
    padding: 20px 5px 20px 5px;
    font-size: 120%;
    font-weight: bold;
  }
  table td {
    border-right: solid 1px #4a4a4a;
    border-left: solid 1px #4a4a4a;
    padding: 20px 5px 20px 5px
  }
  .table_list {
    text-align: center;
    padding: 0 20px 0 20px;
  }
  .table_box {
    margin: 0 10% 0 10%;
  }
  .result_heading01 {
    margin: 5% 10% 0 10%;
    font-size: 140%;
    font-weight: bold;
  }
  .result_list_content01 {
    margin: 30px 50px 30px 100px;
    text-align: left;
  }
  .result_heading02 {
    margin: 30px 50px 30px 50px;
    font-size: 120%;
    font-weight: bold;
  }
  .result_list_content02 {
    margin: 30px 50px 30px 100px;
    display: block;
  }
  .result_box {
    background-color: #FFFFFF;
    width: 70%;
    padding: 10px 0 10px 0;
    margin: auto;
    margin-top: 30px;
  }
  .return_button {
    width: 50px;
    margin: 20px 50px;
    position: relative;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align:center;
    color: #FFF;
    background: #f02e3a;
    border-bottom: solid 2px #cc212b;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  .return_button:active {
    border-bottom: solid 2px ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .return_button:focus {
    outline: 2px #7cb7f7 solid;
  }
  /*テンプレート報告画面*/
  .template_content {
    margin: 10%;
  }
  .template_title {
    margin: 15px 0 15px 0;
    font-size: 120%;
    font-weight: bold;
  }
  .template_itme {
    margin: 20px 10px 20px 10px;
  }
  .template_box {
    background-color: #FFFFFF;
    width: 60%;
    padding: 10px 0 10px 0;
    margin: auto;
    margin-top: 30px;
  }
  /*COVID-19_緊急タスク概要画面*/
  .overview_content {
    margin: 10%;
  }
  .overview_itme {
    margin: 20px 10px 20px 10px;
  }
  .overview_box {
    background-color: #FFFFFF;
    width: 60%;
    padding: 10px 0 10px 0;
    margin: auto;
    margin-top: 30px;
  }
  .overview_title01 {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 160%;
    font-weight: bold;
  }
  .overview_title02 {
    padding: 15px 0 15px 0;
    font-size: 120%;
    font-weight: bold;
  }
  .overview_title_red {
    padding: 15px 0 15px 0;
    color: red;
    font-size: 120%;
    font-weight: bold;
  }
 }
  @media screen and (max-width:469px) {
    /*header*/
    #gheader {
      background-color: #FFFFFF;
      font-size: 110%;
      font-weight: bold;
      overflow: hidden;
    }
    #logo {
      display: inline-block;
      width: 12.0rem;
      padding: 20px 0 10px 30px;
    }
    img {
      vertical-align: bottom;
      max-width: 80%;
    }
    .header_title {
      text-align: center;
      padding: 10px 20px 40px 20px;
    }
    .inner {
      margin-left: 25px;
      width: 98%;
      margin: 0 auto;
    }
    /*main*/
    .title {
      padding: 30px 0 10px 0;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
    }
    .list_item {
      margin: 0 6% 0 6%;
    }
    .box_item {
      margin: 30px 0 30px 0;
    }
    .clear {
      clear:both;
    }
    /*ボタンbox*/
    .button_box {
      text-align:center;
      padding: 2.0rem;
    }
    /*top画面*/
    .top_item {
      text-align: center;
      margin: 20px 20px 20px 0;
    }
    .top_heading {
      margin: 2.0rem 0 2.0rem 0;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .top_list_content {
      margin: 1.0rem 1.0rem 2.0rem 1.5rem;
    }
    .top_link_content {
      margin-left: 1.0rem;
    }
    .top_box {
      background-color: #FFFFFF;
      width: 95%;
      padding: 10px 0 10px 0;
      margin: 0 auto;
      margin-top: 30px;
    }
    .start_button {
      position: relative;
      display: inline-block;
      padding: 1.10em 1.0em 1.0em 1.0em;
      text-decoration: none;
      text-align:center;
      color: #FFF;
      background: #526ffa;
      border-bottom: solid 2px #3657f7;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
      font-size: 100%;
    }
    .start_button:active {
      border-bottom: solid 2px #526ffa;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    .start_button:focus {
      outline: 2px #7cb7f7 solid;
    }
    /*質問画面*/
    .question_heasding {
      margin: 1.0rem 1.0rem 1.0rem 1.5rem;
      font-size: 1.0rem;
      font-weight: bold;
    }
    .question_list_content {
      margin: 1.0rem;
    }
    .question_box {
      background-color: #FFFFFF;
      width: 95%;
      padding: 10px 0 10px 0;
      margin: auto;
      margin-top: 30px;
    }
    .yes_button {
      width: 70px;
      margin-right: 50px;
      position: relative;
      display: inline-block;
      padding: 0.65em 0.5em 0.5em 0.5em;
      text-decoration: none;
      text-align:center;
      color: #FFF;
      background: #526ffa;
      border-bottom: solid 2px #3657f7;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
      font-size: 110%;
    }
    .yes_button:active {
      border-bottom: solid 2px #526ffa;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    .yes_button:focus {
      outline: 2px #7cb7f7 solid;
    }
    .no_button {
      width: 70px;
      position: relative;
      display: inline-block;
      padding: 0.65em 0.5em 0.5em 0.5em;
      text-decoration: none;
      text-align:center;
      color: #FFF;
      background: #fd9535;
      border-bottom: solid 2px #d27d00;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
      font-size: 110%;
    }
    .no_button:active {
      border-bottom: solid 2px ;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    .no_button:focus {
      outline: 2px #7cb7f7 solid;
    }
    /*結果画面*/
    table {
      background-color: #ffffff;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
    table tr {
      border-bottom: solid 1px #c4c4c4;
    }
    table th {
      padding: 20px 5px 20px 5px;
      font-size: 120%;
      font-weight: bold;
    }
    table td {
      padding: 20px 5px 20px 5px;
    }
    .table_list {
      background-color: #f0f0f0;
      text-align: center;
      padding: 0 0.7rem 0 0.7rem;
    }
    .table_middle {
      background-color: #ffffff;
      border-right: solid 1px #c4c4c4;
      border-left: solid 1px #c4c4c4;
    }
    .result_heading01 {
      margin: 3.0rem 1.0rem 1.0rem 1.5rem;
      font-size: 1.0rem;
      font-weight: bold;
    }
    .result_list_content01 {
      margin: 2.0rem 1.0rem 1.0rem 1.0rem;
    }
    .result_heading02 {
      margin: 2.0rem 1.5rem 1.0rem 1.5rem;
      font-size: 120%;
      font-weight: bold;
    }
    .result_list_content02 {
      margin: 2.0rem 1.5rem 1.0rem 1.5rem;
      display: block;
    }
    .result_box {
      background-color: #FFFFFF;
      width: 95%;
      padding: 10px 0 10px 0;
      margin: auto;
      margin-top: 30px;
    }
    .return_button {
      width: 50px;
      margin: 20px 50px;
      position: relative;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      text-align:center;
      color: #FFF;
      background: #f02e3a;
      border-bottom: solid 2px #cc212b;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: bold;
    }
    .return_button:active {
      border-bottom: solid 2px ;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    .return_button:focus {
      outline: 2px #7cb7f7 solid;
    }
    /*template*/
    .template_content {
      margin: 7%;
    }
    .template_title {
      font-size: 120%;
      font-weight: bold;
    }
    .template_itme {
      margin: 20px 10px 20px 10px;
    }
    .template_box {
      background-color: #FFFFFF;
      width: 95%;
      padding: 10px 0 10px 0;
      margin: auto;
      margin-top: 30px;
    }
    /*COVID-19_緊急タスク概要画面*/
    .overview_content {
      margin: 7%;
    }
    .overview_itme {
      margin: 20px 10px 20px 10px;
    }
    .overview_box {
      background-color: #FFFFFF;
      width: 95%;
      padding: 10px 0 10px 0;
      margin: auto;
      margin-top: 30px;
    }
    .overview_title01 {
      padding: 0 0 30px 0;
      font-size: 140%;
      font-weight: bold;
      text-align: center;
    }
    .overview_title02 {
      padding: 15px 0 15px 0;
      font-size: 120%;
      font-weight: bold;
    }
    .overview_title_red {
      padding: 15px 0 15px 0;
      color: red;
      font-size: 120%;
      font-weight: bold;
    }
  }
